%button-shared {
  background-color: $bg-primary;
  border: 2px solid $border-primary;
  border-radius: 4px;
  color: $text-secondary;
  font-family: inherit;
  font-size: 18px;
  padding: 10px;
  margin: auto;
}
