$bg-primary: #9b59b6;
$bg-secondary: #f7f7f7;
$bg-light: lightgray;

$border-primary: #9b59b6;
$border-secondary: #f0f0f0;
$border-error: #e74c3c;
$border-success: #2ecc71;
$border-focus: #777;
$text-secondary: white;
