%header-wrap-shared {
  display: flex;
  justify-content: space-between;
}

%color-title-number {
  color: #4cc1fc;
}

%font-weight-bold {
  font-size: 12px;
  font-weight: bold;
}

%header-logo-shared {
  display: flex;
  align-items: center;
}
