
@font-face {
  font-family: "UTMAvoBold";
  font-style: normal;
  font-weight: normal;
  src: url("fontfamily/utm-avobold.woff") format("woff");
}
@font-face {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: normal;
  src: url("fontfamily/utm-avo.woff") format("woff");
}