* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: $pxBase;
}

body {
  font-family: $font-primary;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
input {
  border: none;
  outline: none;
}
