// font Family
$font-primary: Arial, Helvetica, sans-serif;

$pxBase : 16px;
//font-size
$font-size-normal: 12px;
$font-size-heading-1: 20px;
$font-size-heading-3: 18px;
$font-size-p: 13px;
$font-size-heading-4: 14px;

//color
$link-primary: #4cc1fc;
$text-primary: black;
$text-secondary: gray;
$text-white: white;
$text-success: #86ffbf;
$text-3: #828282;
$text-4: #485054;
$text-5: #0d1d25;
$text-6: #b3b3b3;
$text-7: #0d1d25;
$border-primary: #ebebeb;
$boder-secondary: #e9e9e9;

//background-color
$bg-secondary: #62c6f8;
$bg-sidebar: #d9e4e9;  
$bg-btn: #4bbc56;



