// font Family
$font-primary: Arial, Helvetica, sans-serif;

//font-size
$font-size-normal: 12px;
$font-size-heading-3: 18px;
$font-size-p: 13.2px;

//color
$link-primary: #4cc1fc;
$text-primary: black;
$text-secondary: gray;
$text-white: white;
$text-success: #86ffbf;

//background-color
$bg-secondary: #62c6f8;
$bg-sidebar: #d9e4e9;  
$bg-btn: #4bbc56;



