.header-nav .container {
  @extend %header-wrap-shared;
  align-items: center;
}

.navigation {
  margin-left: 14px;
  .menu-list {
    display: flex;
  }
}

.menu-item {
  padding: 18px 28px 18px 13px;
  margin-right: 1px;
  border-right: 1px solid #e9e9e9;
  .menu-link {
    @include color-fontsize(#b3b3b3, 12px);
    &:hover {
      color: $link-primary;
    }
  }
  .menu-link-health {
    color: $link-primary;
  }
}
.menu-item-6 {
  border: 0;
}

.menu-list-img .follow-img {
  margin-left: 5px;
  width: 1.2rem;
  height: 1.2rem;
}
